/** CSS STYLE **/

:root {
  /** color settings **/
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  /** font settings **/
  --body-font-family: "Open Sans", sans-serif;
  --body-font-size: 16px;
  --body-line-height: 1.6em;
  --body-font-color: #2a2626;
  --headings-font-family: "Neucha", cursive;

  /* headings settings **/
  --headings-line-height: 1.2em;
  --h1-font-size: 72px;
  --h2-font-size: 60px;
  --h3-font-size: 34px;

  /** sections settings **/
  --section-max-width: 1100px;
  --section-margin: 0 auto;
  --section-paddings: 100px 0;
}
