/** CSS STYLE **/

:root {
  /** color settings **/
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  /** font settings **/
  --body-font-family: "Open Sans", sans-serif;
  --body-font-size: 16px;
  --body-line-height: 1.6em;
  --body-font-color: #2a2626;
  --headings-font-family: "Neucha", cursive;

  /* headings settings **/
  --headings-line-height: 1.2em;
  --h1-font-size: 72px;
  --h2-font-size: 60px;
  --h3-font-size: 34px;

  /** sections settings **/
  --section-max-width: 1100px;
  --section-margin: 0 auto;
  --section-padding: 100px 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

  color: var(--body-font-color);
  font-size: var(--body-font-size);

  font-family: var(--body-font-family);
  line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  z-index: 1;

  font-family: var(--headings-font-family);
  line-height: var(--headings-line-height);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

img {
  height: 100%;
}

a {
  color: inherit;
  font-size: inherit;
  font-style: inherit;

  text-decoration: none;
}

.container {
  position: relative;

  max-width: var(--section-max-width);
  margin: var(--section-margin);
  padding: var(--section-padding);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-main-dark);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-default-image {
  position: relative;
}

.bg-default-image::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-image + .description {
  margin-top: 185px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col + .col {
  margin-left: 30px;
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  color: var(--color-white);

  font-weight: bold;

  background-color: var(--color-main);
}

p + .btn {
  margin-top: 40px;
}

.text-white {
  color: var(--color-white);
}

.text-primary-dark {
  color: var(--color-main-dark);
}

.text-dark {
  color: var(--color-dark);
}

.text-orange {
  color: var(--color-main);
}

.text-center {
  text-align: center;
}

.video-section {
  margin-bottom: -200px;
}

.video-description {
  margin: 27px 0 30px 0;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 2;
}
